[mysqld]
# 데이터베이스 디렉토리
datadir = /var/lib/mysql

# 소켓 파일 위치
socket = /var/run/mysqld/mysqld.sock

# 테이블 기본 인코딩 및 정렬
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 로그 파일 설정
log_error = /var/log/mysql/error.log

# 튜닝 옵션
innodb_buffer_pool_size = 256M
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 8M
innodb_log_file_size = 64M
innodb_stats_on_metadata = OFF

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
